.git
.gitignore
__pycache__
*.py[cod]
*.so
.venv
venv
*.egg-info
dist
build
.idea
.vscode
.pytest_cache
.coverage
.mypy_cache
.ipynb_checkpoints
*.ipynb
*.md
!README.md
.github
*.log
*.pkl
.env
.env.*
data/
models/
reports/
WORKFLOW.md
notebooks/
